div.aboutContainer
	h1 About Us
	p.history.
		Allied Consultant Engineering was incorporated in 2015. The team has over 60 years combined experience across technical, corporate and academic roles. Clients have recognised the capabilities of the Allied Consultant Engineering team, and are enjoying the benefits of partnering with Allied Consultant Engineering.
	div.aboutRow
		img.img(src="#{urlStaticRelative}images/about/roger.jpg" alt="Roger Murphy" title="Roger Murphy")
		div.details
			div.nameAndTitle
				span.name Roger Murphy MIEI CEng (Ireland), CPEng (Australia)
				span  - 
				span.title Founder & Director
				div.line
			p.
				Roger is a Chartered Professional Engineer in Ireland and Australia. He has held a number of senior engineering roles, in construction and design. Prior to founding Allied Consultant Engineering, Roger was National Engineering Manager with Axicom, the largest independent tower owner in Australia.
			p.nomargin.
				Roger has proven expertise in delivering safe, economically designed solutions across a range of industries. Roger also has construction management experience, allowing him to understand the constructability needs of engineering solutions.
	div.aboutRow
		img.img(src="#{urlStaticRelative}images/about/breiffni.jpg" alt="Dr. Breiffni Fitzgerald" title="Dr. Breiffni Fitzgerald")
		div.details
			div.nameAndTitle
				span.name Dr. Breiffni Fitzgerald MIEI CEng
				span  - 
				span.title Director
				div.line
			p.
				Breiffni is a professor at Trinity College Dublin, and also provides his specialist skills to Allied Consultant Engineering. Breiffni has written a number of influential papers, notably in the area wind turbine dynamics.
			p.nomargin.
				In 2017 Breiffni's expertise was recognised when he was nominated as Chartered Engineer of the Year by Engineers Ireland. Breiffni provides Allied Consultant Engineering with high level structural engineering skills and his considerable academic expertise.
	div.aboutRow
		img.img(src="#{urlStaticRelative}images/about/norbert.jpg" alt="Norbert Ellenberger" title="Norbert Ellenberger")
		div.details
			div.nameAndTitle
				span.name Norbert Ellenberger M.Eng MIEI
				span  - 
				span.title Consultant
				div.line
			p.
				Norbert is a consultant engineer. During his 23 years of experience he has practised as a structural and civil engineer advising on almost all aspects of residential and commercial types of construction and structures. This includes structural design, analysis, reports, repairwork, supervision as well as heat and sound protection of buildings and structures.
			p.nomargin.
				Norbert aims to provide the highest level of technical and practical advice in a cost-effective way.
	div.aboutRow
		img.img(src="#{urlStaticRelative}images/about/ruth.jpg" alt="Ruth Murphy" title="Ruth Murphy")
		div.details
			div.nameAndTitle
				span.name Ruth Murphy
				span  - 
				span.title Head of Administration
				div.line
			p.
				Ruth has over 7 years experience in the financial services industry, most of which were spent with Macquarie Bank in Sydney. Ruth brings her diverse experience of managing tasks, projects and people to her role with Allied Consultant Engineering.
	div.sponsorRow
		img.img(src="#{urlStaticRelative}images/about/sponsor-LEO.png" alt="Local Enterprise Office Dún Laoghaire-Rathdown" title="Local Enterprise Office Dún Laoghaire-Rathdown")